Подготовим датасет к работе

In [18]:
import pandas as pd
import datetime

log = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
display(log)

users = pd.read_csv('data/users.csv', encoding='koi8_r', sep='\t')
users.columns  = ['user_id', 'email', 'geo']
display(users)

# sample.columns = [c.lower() for c in sample.columns]

                              user_id                 time      bet      win
0    Запись пользователя № - user_919  2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  2019-01-01 21:31:18      NaN      NaN
..                                ...                  ...      ...      ...
995  Запись пользователя № - user_984   2019-04-20 9:59:58   9754.0      NaN
996                            #error                  NaN  10054.0  29265.0
997                            #error                  NaN  10454.0      NaN
998                            #error                  NaN   1000.0      NaN
999                            #error                  NaN  10754.0      NaN

[1000 rows x 4 columns]

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

Посчитайте количество пропусков в столбце time. 

Метод isna() есть не только у DataFrame, но и у Series. Это 

значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [19]:
log.time.isna().value_counts()

False    985
True      15
Name: time, dtype: int64

## Удаление пропусков

Пропуски можно удалять автоматически. Во многих случаях это правильно, так как данные с большим количеством пропусков часто не имеют смысла и не приносят никакой пользы.  

1. Удалять данные с пропусками можно с помощью метода dropna().
2/ Параметр axis в методе dropna() говорит методу, по какой оси удалять значения.  

Если нужно удалить строки, в которых встречается пропуск (NaN), следует указать axis=0.  Зачем это делать? Например, у нас из 1000 примеров данных про пользователей пропуски есть в пяти. Разумно их удалить, так как их количество пренебрежимо мало.
Если нужно удалить столбцы, в которых встречается пропуск (NaN), нужно указывать axis=1. Зачем? Иногда в одном конкретном столбце пропусков настолько много, что с ними просто не хочется возиться - смысла в них все равно почти нет.

In [ ]:
Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.

In [24]:
display(log.columns)
log.dropna(axis=1).columns

Index(['user_id', 'time', 'bet', 'win'], dtype='object')

Index(['user_id'], dtype='object')

Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

In [25]:
log.dropna(axis=0)

,user_id,time,bet,win
14,Запись пользователя № - user_917,2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0

Используйте оригинальный датасет log.csv.

С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.

А сейчас:

если есть пропуски в столбце user_id - удалите столбец user_id,

если есть пропуски в столбце time - удалите столбец time.

Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

Еще один интересный параметр - `subset`. Что он делает? Если передать в него список значений по одной оси (например, названия столбцов) и задать при этом в параметре axis другую ось (в нашем случае 0), то мы удалим те строки, для которых в данных столбцах находится пропуск. То же самое работает и наоборот: нужно поменять axis на 1 и вместо названий столбцов передавать индексы строк.

0      Запись пользователя № - user_919
1      Запись пользователя № - user_973
2      Запись пользователя № - user_903
3      Запись пользователя № - user_954
4      Запись пользователя № - user_954
                     ...
995    Запись пользователя № - user_984
996                              #error
997                              #error
998                              #error
999                              #error
Name: user_id, Length: 1000, dtype: object