In [12]:
import pandas as pd
import xml.etree.ElementTree as ET

In [13]:
tree = ET.parse('data/menu.xml')    
root = tree.getroot() 
print(root)
print(root.getchildren())

<Element 'menu' at 0x7f93f0f052f0>
[<Element 'dish' at 0x7f93f0f05410>, <Element 'dish' at 0x7f93f0f056b0>]

In [14]:
len(root[0])

3

In [15]:
df_index = ['name', 'price', 'weight', 'class']  
df = pd.DataFrame(columns=df_index)  

for elem in root:  
    elements = [elem.get('name'), elem[0].text, elem[1].text, elem[2].text]  
    df = df.append(pd.Series(elements, index=df_index), ignore_index=True) 

df

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа