Подготовим датасет к работе

In [177]:
import pandas as pd
import datetime

log = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
display(log)

us = pd.read_csv('data/users.csv', encoding='koi8_r', sep='\t')
us.columns  = ['user_id', 'email', 'geo']
display(us)

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]

Посчитайте количество пропусков в столбце time. 

Метод isna() есть не только у DataFrame, но и у Series. Это 

значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [178]:
log.time.isna().value_counts()

False    985
True      15
Name: time, dtype: int64

## Удаление пропусков

Пропуски можно удалять автоматически. Во многих случаях это правильно, так как данные с большим количеством пропусков часто не имеют смысла и не приносят никакой пользы.  

1. Удалять данные с пропусками можно с помощью метода dropna().
2. Параметр axis в методе dropna() говорит методу, по какой оси удалять значения.  

Если нужно удалить строки, в которых встречается пропуск (NaN), следует указать axis=0.  Зачем это делать? Например, у нас из 1000 примеров данных про пользователей пропуски есть в пяти. Разумно их удалить, так как их количество пренебрежимо мало.
Если нужно удалить столбцы, в которых встречается пропуск (NaN), нужно указывать axis=1. Зачем? Иногда в одном конкретном столбце пропусков настолько много, что с ними просто не хочется возиться - смысла в них все равно почти нет.

Удалите все столбцы, где есть пропуски. Запишите в поле, сколько осталось столбцов в данных после этого.

In [179]:
display(log.columns)
log.dropna(axis=1).columns

Index(['user_id', 'time', 'bet', 'win'], dtype='object')

Index(['user_id'], dtype='object')

Удалите все строки, где есть пропуски. Запишите в поле, сколько осталось строк в данных после этого.

In [180]:
log.dropna(axis=0)

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
967,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
971,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
972,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
976,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
991,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

Используйте оригинальный датасет log.csv.

С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.

А сейчас:

если есть пропуски в столбце user_id - удалите столбец user_id,

если есть пропуски в столбце time - удалите столбец time.

Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

Еще один интересный параметр - `subset`. Что он делает? Если передать в него список значений по одной оси (например, названия столбцов) и задать при этом в параметре axis другую ось (в нашем случае 0), то мы удалим те строки, для которых в данных столбцах находится пропуск. То же самое работает и наоборот: нужно поменять axis на 1 и вместо названий столбцов передавать индексы строк.

In [181]:
log[['time', 'user_id']].dropna(axis=1)

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

Удалите дубли среди столбцов user_id и time. Запишите в поле ниже, сколько осталось строк после удаления дублей.

In [182]:
log.drop_duplicates(subset=['time', 'user_id'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.

Подсказка: можно применить метод max() к получившемуся столбцу со временем.

Не забудьте избавиться от пропусков.

Запишите ответ в формате "YYYY-MM-DD".

In [183]:
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log.time = pd.to_datetime(log.time)
log.time.max()

Timestamp('2019-04-20 18:10:07')

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.

In [184]:
log.time.dt.minute.value_counts(ascending=False).head()

36.0    25
31.0    23
6.0     22
50.0    22
14.0    21
Name: time, dtype: int64

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.

In [185]:
log.time.dt.month.value_counts(ascending=True).head()

4.0    170
2.0    259
3.0    264
1.0    292
Name: time, dtype: int64

In [186]:
log.time[log.time.dt.dayofweek >= 5]

39    2019-01-05 01:54:07
40    2019-01-05 10:44:56
41    2019-01-05 13:13:21
42    2019-01-05 14:36:15
43    2019-01-05 18:09:15
              ...
991   2019-04-20 12:55:41
992   2019-04-20 14:59:36
993   2019-04-20 17:09:56
994   2019-04-20 18:10:07
995   2019-04-20 09:59:58
Name: time, Length: 283, dtype: datetime64[ns]

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.

Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.

Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.

Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.

In [187]:
def to_day_time(hour):
    if hour >= 0 and hour <= 5:
        return 'ночь'
    if hour >= 6 and hour <= 11:
        return 'утро'        
    if hour >= 12 and hour <= 17:
        return 'день'           
    if hour >= 18 and hour <= 23:
        return 'вечер'                     

day_time = log.time.apply(lambda t: to_day_time(t.hour))
day_time.value_counts(ascending=True)

вечер    227
день     240
утро     253
ночь     265
Name: time, dtype: int64

Давайте повторим то, что мы прошли в этой секции. Напишите код, который создаст признак hour из признака time в датасете log.csv. Для этого:

1. загрузите датасет log.csv в переменную log, дальше работать будем с ней;
2. установите имена столбцов: ['user_id', 'time', 'bet', 'win'];
3. избавьтесь от пропусков в log;
4. приведите переменную time к подходящему для извлечения признаков виду;
5. получите значение часа для каждой строки в переменной time и запишите в столбец hour в log.

Результатом будет таблица log со столбцом hour внутри.

In [188]:
log = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
log.dropna(axis=0, inplace=True)
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.apply(lambda t: t.hour)
display(log)

,user_id,time,bet,win,hour
14,Запись пользователя № - user_917,2019-01-02 08:57:36,145732.0,1987653.0,8
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0,13
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0,21
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0,18
205,Запись пользователя № - user_931,2019-01-22 05:26:59,300.0,4319.0,5
...,...,...,...,...,...
967,Запись пользователя № - user_975,2019-04-19 22:25:15,1000.0,6108.0,22
971,Запись пользователя № - user_912,2019-04-20 10:35:49,10554.0,31799.0,10
972,Запись пользователя № - user_926,2019-04-20 10:35:50,10354.0,30244.0,10
976,Запись пользователя № - user_970,2019-04-20 10:35:54,10354.0,30691.0,10
991,Запись пользователя № - user_965,2019-04-20 12:55:41,800.0,6927.0,12

## Заполнение константой

In [189]:
log = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.apply(lambda t: t.hour)

Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать value_counts().

Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

In [190]:
log['bet'] = log.bet.fillna(0)
log.bet.value_counts().head()

0.0      515
500.0     50
100.0     48
300.0     42
800.0     42
Name: bet, dtype: int64

## Заполнение с помощью функции

Используйте оригинальный датасет log.csv. Проделайте с ним действия из задания 1, расположенного выше на этой странице, и из пункта "Заполнение с помощью функции".

Результат запишите числом в поле ниже.

Подсказка: можно использовать sum().

Посчитайте, сколько раз участники ставок проиграли деньги. То есть посчитайте количество строк, для которых в столбце win находится

In [191]:
def fill_na_win(row):
    if not pd.isna(row.win):
        return row.win
    if pd.isna(row.bet):
        return 0
    else:
        return -row.bet

log.win = log.apply(lambda row: fill_na_win(row), axis=1)  
log.win.loc[log.win < 0]

5     -156789.0
19     -98753.0
67      -5000.0
81    -123981.0
92       -100.0
         ...
994    -10354.0
995     -9754.0
997    -10454.0
998     -1000.0
999    -10754.0
Name: win, Length: 347, dtype: float64

Создайте признак net, хранящий сумму выигрыша с учетом ставки. Для этого из признака win поэлементно вычтите признак bet и запишите в новый столбец. После этого посчитайте, у скольких людей выигрыш положительный.

In [192]:
log['net'] = log.apply(lambda row: row.win - row.bet, axis=1)
winners = log.loc[log.net > 0]
winners.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 14 to 996
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  138 non-null    object
 1   time     133 non-null    datetime64[ns]
 2   bet      138 non-null    float64
 3   win      138 non-null    float64
 4   hour     133 non-null    float64
 5   net      138 non-null    float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 7.5+ KB

Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания. Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

In [193]:
round(winners.net.mean())

80253

Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока. Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

In [194]:
round(winners.net.median())

5347

## Что осталось сделать
Используйте модифицированный исходный датасет log.csv.

При модификации датасета log.csv, пропущенные значения в столбцах bet и win замените на 0, cоздайте столбец net, хранящий сумму выигрыша с учетом ставки (для этого из столбца win поэлементно вычтите столбец bet и запишите в новый столбец).

In [195]:
log = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
log.time = log.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
log.time = pd.to_datetime(log.time)
log['hour'] = log.time.apply(lambda t: t.hour)
log['bet'] = log.bet.fillna(0)
log['win'] = log.win.fillna(0)
log['net'] = log.apply(lambda row: row.win - row.bet, axis=1)
log

,user_id,time,bet,win,hour,net
0,Запись пользователя № - user_919,2019-01-01 14:06:51,0.0,0.0,14.0,0.0
1,Запись пользователя № - user_973,2019-01-01 14:51:16,0.0,0.0,14.0,0.0
2,Запись пользователя № - user_903,2019-01-01 16:31:16,0.0,0.0,16.0,0.0
3,Запись пользователя № - user_954,2019-01-01 17:17:51,0.0,0.0,17.0,0.0
4,Запись пользователя № - user_954,2019-01-01 21:31:18,0.0,0.0,21.0,0.0
...,...,...,...,...,...,...
995,Запись пользователя № - user_984,2019-04-20 09:59:58,9754.0,0.0,9.0,-9754.0
996,#error,NaT,10054.0,29265.0,NaN,19211.0
997,#error,NaT,10454.0,0.0,NaN,-10454.0
998,#error,NaT,1000.0,0.0,NaN,-1000.0
999,#error,NaT,10754.0,0.0,NaN,-10754.0

Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [196]:
len(log.loc[log.bet > 0]) / len(log)

0.485

Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.

In [197]:
log.loc[log.bet > 0].bet.mean()

6785.738144329897

Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.

Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.

In [198]:
log.loc[log.bet > 0].net.mean()

20421.892783505155

Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.

Пояснение: ответ должен быть дан в виде отрицательного числа.

In [199]:
log.loc[log.net < 0].net.mean()

-3372.743515850144

Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.

In [200]:
bets = log.loc[log.bet > 0]
bets_number = len(bets)

print('Доля выигрышей: {}'.format(len(bets.loc[bets.net > 0]) / bets_number))
print('Доля проигрышей: {}'.format(len(bets.loc[bets.net < 0]) / bets_number))

Доля выигрышей: 0.2845360824742268
Доля проигрышей: 0.7154639175257732

Давайте повторим то, что мы прошли в этой секции. Напишите код, который узнает, чему была равна минимальная ставка и сколько людей сделали такую ставку. Для этого:

1. загрузите датасет log.csv;
2. посчитайте, чему равна минимальная ставка;
3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [201]:
log_df = pd.read_csv("data/log.csv", header=None, names=['user_id','time', 'bet','win'])
log_df.time = log_df.time.apply(lambda s: str(s)[1:] if str(s).startswith('[') else s)
min_bet_amount = log_df.bet.value_counts().sort_index().iloc[0]
print(min_bet_amount)

48

## Повторение merge/groupby
Повторим часть предобработки, которую мы должны были выполнить ранее:

In [202]:
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

Это будет нужно для того, чтобы объединить оба датасета и работать с едиными данными для проведения продвинутого анализа.

## Merge

Теперь объединим данные с помощью метода pd.merge():

`pd.merge(dataframe1, dataframe2, on='feature_name')`

Первые два аргумента - таблицы, которые нужно будет объединить.

Третий аргумент - название признака, по которому будем объединять данные. Мы уже привели данные к одинаковому виду, и теперь их можно объединить по признаку 'user_id', чтобы получить полную информацию о пользователе.

In [203]:
merged = pd.merge(log, us, on='user_id')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 975 entries, 0 to 974
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  975 non-null    object
 1   time     975 non-null    datetime64[ns]
 2   bet      975 non-null    float64
 3   win      975 non-null    float64
 4   hour     975 non-null    float64
 5   net      975 non-null    float64
 6   email    967 non-null    object
 7   geo      950 non-null    object
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 68.6+ KB

## Groupby

Теперь повторим groupby.

Данный метод позволяет сгруппировать данные и применить к ним методы агрегации:

`df.groupby('user_id').win.median().median()`

В данном случае мы группируем данные по признаку user_id.

После этого мы в каждой группе выбираем признак win.

Затем мы берем медиану каждой группы по признаку win и на выходе получаем таблицу, в которой индексом является признак user_id. В этой таблице единственный столбец - медиана по каждой группе (то есть по каждому пользователю).

Наконец, последний вызов median() дает нам медиану по предыдущему столбцу, то есть возвращает одно число.

## Анализ по пользователям
Мы собрали все, что нам нужно, чтобы извлечь какие-то инсайты из данных о пользователях.

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.

In [204]:
merged.groupby('user_id').net.sum().median()

1986.0

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Сколько раз в среднем каждый человек приходит, не делая ставок, при условии, что у этого человека все-таки есть хотя бы одна ставка? Например: Человек посетил букмекерскую контору 5 раз из них 1 раз сделал ставку, 4 раза нет - условие выполняется. Человек посетил букмекерскую контору 5 раз из них ни разу ставку не сделал - условие не выполняется. Для того, чтобы узнать это, просуммируйте в каждой группе количество записей со ставкой, равной 0, и поделите на общее количество групп. Если при этом в группе нет записей со ставкой больше 0, считаем количество записей в данной группе равным 0.

In [205]:
def aggregate_bets(group):
    bets = group[group > 0]
    bets_count = len(bets)
    if bets_count == 0:
        return 0;
    return len(group) - bets_count

merged.groupby('user_id').bet.aggregate(func=aggregate_bets).mean()

5.05

Сколько в среднем времени проходит между появлением человека в сервисе и первой ставкой? Считать нужно только тех, кто делал ставку. Для того, чтобы узнать это, напишите метод, считающий минимальное время среди ставок, равных 0, и минимальное время среди ставок больше 0. После этого верните разницу между вторым и первым числом. Пройдитесь по всем группам в цикле. Если в группе нет ставок больше 0, пропустите эту группу. Просуммируйте разницу во времени для каждой группы (с помощью метода, описанного выше) и поделите на количество групп, которые вы не пропустили.

In [217]:
merged.groupby(['user_id', 'bet'])

963, 964, 965, 966, 967], dtype='int64'),
 ('user_934', 300.0): Int64Index([968], dtype='int64'),
 ('user_934', 10554.0): Int64Index([969], dtype='int64'),
 ('user_935',
  0.0): Int64Index([437, 438, 439, 440, 441, 442, 443], dtype='int64'),
 ('user_935', 300.0): Int64Index([444], dtype='int64'),
 ('user_935', 500.0): Int64Index([445], dtype='int64'),
 ('user_935', 700.0): Int64Index([446, 447], dtype='int64'),
 ('user_935', 800.0): Int64Index([448], dtype='int64'),
 ('user_936', 0.0): Int64Index([762, 763, 764, 765, 766], dtype='int64'),
 ('user_936', 100.0): Int64Index([767], dtype='int64'),
 ('user_936', 300.0): Int64Index([768], dtype='int64'),
 ('user_936', 400.0): Int64Index([769], dtype='int64'),
 ('user_937', 0.0): Int64Index([299, 300, 302, 303, 304], dtype='int64'),
 ('user_937', 100.0): Int64Index([301, 306], dtype='int64'),
 ('user_937', 200.0): Int64Index([305], dtype='int64'),
 ('user_937', 300.0): Int64Index([307], dtype='int64'),
 ('user_937', 500.0): Int64Index([308], dtype='int64'),
 ('user_937', 600.0): Int64Index([309], dtype='int64'),
 ('user_937', 700.0): Int64Index([310, 311], dtype='int64'),
 ('user_937', 800.0): Int64Index([312, 313], dtype='int64'),
 ('user_938', 0.0): Int64Index([343, 344, 345, 346], dtype='int64'),
 ('user_938', 100.0): Int64Index([347], dtype='int64'),
 ('user_938', 200.0): Int64Index([349], dtype='int64'),
 ('user_938', 700.0): Int64Index([348], dtype='int64'),
 ('user_938', 900.0): Int64Index([350, 351], dtype='int64'),
 ('user_938', 9954.0): Int64Index([352], dtype='int64'),
 ('user_939', 0.0): Int64Index([858, 859, 860, 861, 862], dtype='int64'),
 ('user_939', 200.0): Int64Index([863], dtype='int64'),
 ('user_939', 400.0): Int64Index([864], dtype='int64'),
 ('user_939', 500.0): Int64Index([865, 866], dtype='int64'),
 ('user_940', 0.0): Int64Index([359, 360, 361, 362], dtype='int64'),
 ('user_940', 500.0): Int64Index([363], dtype='int64'),
 ('user_940', 700.0): Int64Index([364], dtype='int64'),
 ('user_940', 10754.0): Int64Index([365], dtype='int64'),
 ('user_941', 0.0): Int64Index([613, 614, 615, 616], dtype='int64'),
 ('user_941', 300.0): Int64Index([617], dtype='int64'),
 ('user_941', 700.0): Int64Index([618], dtype='int64'),
 ('user_941', 800.0): Int64Index([619], dtype='int64'),
 ('user_941', 9754.0): Int64Index([620], dtype='int64'),
 ('user_942', 0.0): Int64Index([195, 196, 197, 198], dtype='int64'),
 ('user_942', 600.0): Int64Index([199], dtype='int64'),
 ('user_942', 800.0): Int64Index([200, 201], dtype='int64'),
 ('user_942', 1000.0): Int64Index([202, 203], dtype='int64'),
 ('user_942', 10254.0): Int64Index([204], dtype='int64'),
 ('user_942', 98753.0): Int64Index([193], dtype='int64'),
 ('user_942', 1678321.0): Int64Index([194], dtype='int64'),
 ('user_943', 0.0): Int64Index([428], dtype='int64'),
 ('user_943', 100.0): Int64Index([429, 430, 431], dtype='int64'),
 ('user_943', 300.0): Int64Index([432], dtype='int64'),
 ('user_943', 700.0): Int64Index([433], dtype='int64'),
 ('user_943', 800.0): Int64Index([434, 435], dtype='int64'),
 ('user_943', 1000.0): Int64Index([436], dtype='int64'),
 ('user_944', 0.0): Int64Index([486, 487, 488, 489, 491], dtype='int64'),
 ('user_944', 100.0): Int64Index([490], dtype='int64'),
 ('user_944', 500.0): Int64Index([492], dtype='int64'),
 ('user_944', 700.0): Int64Index([493], dtype='int64'),
 ('user_945', 0.0): Int64Index([718, 719, 720], dtype='int64'),
 ('user_945', 500.0): Int64Index([721], dtype='int64'),
 ('user_945', 700.0): Int64Index([722], dtype='int64'),
 ('user_946', 0.0): Int64Index([841, 843, 844, 845], dtype='int64'),
 ('user_946', 100.0): Int64Index([842, 846], dtype='int64'),
 ('user_946', 500.0): Int64Index([847, 848], dtype='int64'),
 ('user_946', 700.0): Int64Index([849], dtype='int64'),
 ('user_947', 0.0): Int64Index([925, 926], dtype='int64'),
 ('user_947', 100.0): Int64Index([927], dtype='int64'),
 ('user_947', 200.0): Int64Index([928, 929], dtype='int64'),
 ('user_947', 300.0): Int64Index([930], dtype='int64'),
 ('user_947', 400.0): Int64Index([931], dtype='int64'),
 ('user_947', 700.0): Int64Index([932], dtype='int64'),
 ('user_947', 1000.0): Int64Index([933, 934], dtype='int64'),
 ('user_947', 10654.0): Int64Index([935], dtype='int64'),
 ('user_948', 0.0): Int64Index([324, 325, 326, 327, 328, 329], dtype='int64'),
 ('user_948', 300.0): Int64Index([330], dtype='int64'),
 ('user_948', 800.0): Int64Index([331], dtype='int64'),
 ('user_948', 10554.0): Int64Index([332], dtype='int64'),
 ('user_949', 0.0): Int64Index([249, 250, 251, 252, 253, 254], dtype='int64'),
 ('user_949', 100.0): Int64Index([255], dtype='int64'),
 ('user_949', 300.0): Int64Index([256], dtype='int64'),
 ('user_949', 500.0): Int64Index([257], dtype='int64'),
 ('user_949', 600.0): Int64Index([258], dtype='int64'),
 ('user_949', 800.0): Int64Index([259], dtype='int64'),
 ('user_949', 10054.0): Int64Index([260], dtype='int64'),
 ('user_949', 10154.0): Int64Index([261], dtype='int64'),
 ('user_949', 10554.0): Int64Index([262], dtype='int64'),
 ('user_950', 0.0): Int64Index([888, 889, 890, 891, 892], dtype='int64'),
 ('user_950', 500.0): Int64Index([893], dtype='int64'),
 ('user_950', 600.0): Int64Index([894], dtype='int64'),
 ('user_950', 1000.0): Int64Index([895, 896], dtype='int64'),
 ('user_951', 0.0): Int64Index([239, 241], dtype='int64'),
 ('user_951', 100.0): Int64Index([240], dtype='int64'),
 ('user_951', 500.0): Int64Index([242], dtype='int64'),
 ('user_951', 600.0): Int64Index([243, 244], dtype='int64'),
 ('user_951', 900.0): Int64Index([245], dtype='int64'),
 ('user_951', 9754.0): Int64Index([246], dtype='int64'),
 ('user_951', 10154.0): Int64Index([247], dtype='int64'),
 ('user_951', 10254.0): Int64Index([248], dtype='int64'),
 ('user_952', 0.0): Int64Index([90, 91, 92], dtype='int64'),
 ('user_952', 200.0): Int64Index([93], dtype='int64'),
 ('user_952', 300.0): Int64Index([94], dtype='int64'),
 ('user_952', 600.0): Int64Index([95], dtype='int64'),
 ('user_952', 800.0): Int64Index([96], dtype='int64'),
 ('user_952', 1000.0): Int64Index([97], dtype='int64'),
 ('user_952', 9754.0): Int64Index([98, 99], dtype='int64'),
 ('user_953', 0.0): Int64Index([942, 943, 944, 945], dtype='int64'),
 ('user_953', 400.0): Int64Index([946], dtype='int64'),
 ('user_953', 600.0): Int64Index([947], dtype='int64'),
 ('user_953', 800.0): Int64Index([948], dtype='int64'),
 ('user_953', 9954.0): Int64Index([949], dtype='int64'),
 ('user_954',
  0.0): Int64Index([32, 33, 34, 35, 36, 37, 38, 39], dtype='int64'),
 ('user_954', 100.0): Int64Index([40], dtype='int64'),
 ('user_954', 400.0): Int64Index([41], dtype='int64'),
 ('user_954', 800.0): Int64Index([42], dtype='int64'),
 ('user_954', 1000.0): Int64Index([43], dtype='int64'),
 ('user_954', 9854.0): Int64Index([44], dtype='int64'),
 ('user_955',
  0.0): Int64Index([632, 633, 634, 636, 637, 638, 639], dtype='int64'),
 ('user_955', 100.0): Int64Index([635], dtype='int64'),
 ('user_955', 500.0): Int64Index([640], dtype='int64'),
 ('user_955', 600.0): Int64Index([641], dtype='int64'),
 ('user_955', 10754.0): Int64Index([642], dtype='int64'),
 ('user_957', 0.0): Int64Index([676, 677], dtype='int64'),
 ('user_957', 200.0): Int64Index([678], dtype='int64'),
 ('user_957', 500.0): Int64Index([679], dtype='int64'),
 ('user_957', 700.0): Int64Index([680], dtype='int64'),
 ('user_958',
  0.0): Int64Index([409, 410, 411, 412, 413, 414, 415], dtype='int64'),
 ('user_958', 400.0): Int64Index([416], dtype='int64'),
 ('user_958', 500.0): Int64Index([417], dtype='int64'),
 ('user_958', 1000.0): Int64Index([418], dtype='int64'),
 ('user_959', 0.0): Int64Index([797, 798, 799, 800, 801], dtype='int64'),
 ('user_959', 700.0): Int64Index([802], dtype='int64'),
 ('user_959', 900.0): Int64Index([803], dtype='int64'),
 ('user_960', 0.0): Int64Index([378, 379, 380, 381, 382], dtype='int64'),
 ('user_960', 400.0): Int64Index([383, 384, 385], dtype='int64'),
 ('user_960', 500.0): Int64Index([386], dtype='int64'),
 ('user_960', 900.0): Int64Index([387], dtype='int64'),
 ('user_961', 0.0): Int64Index([867], dtype='int64'),
 ('user_961', 100.0): Int64Index([868], dtype='int64'),
 ('user_961', 300.0): Int64Index([869, 870], dtype='int64'),
 ('user_961', 500.0): Int64Index([871], dtype='int64'),
 ('user_961', 600.0): Int64Index([872], dtype='int64'),
 ('user_961', 700.0): Int64Index([873], dtype='int64'),
 ('user_961', 800.0): Int64Index([874], dtype='int64'),
 ('user_961', 1000.0): Int64Index([875], dtype='int64'),
 ('user_962',
  0.0): Int64Index([780, 781, 782, 783, 784, 785, 786], dtype='int64'),
 ('user_962', 200.0): Int64Index([787], dtype='int64'),
 ('user_962', 800.0): Int64Index([788], dtype='int64'),
 ('user_962', 10354.0): Int64Index([789], dtype='int64'),
 ('user_963', 0.0): Int64Index([804, 805, 806, 807], dtype='int64'),
 ('user_963', 100.0): Int64Index([808], dtype='int64'),
 ('user_963', 200.0): Int64Index([809], dtype='int64'),
 ('user_963', 500.0): Int64Index([810, 811], dtype='int64'),
 ('user_963', 800.0): Int64Index([812], dtype='int64'),
 ('user_964', 0.0): Int64Index([134, 135], dtype='int64'),
 ('user_964', 100.0): Int64Index([136], dtype='int64'),
 ('user_964', 200.0): Int64Index([137], dtype='int64'),
 ('user_964', 300.0): Int64Index([138], dtype='int64'),
 ('user_964', 400.0): Int64Index([139, 140], dtype='int64'),
 ('user_964', 500.0): Int64Index([141], dtype='int64'),
 ('user_964', 800.0): Int64Index([142], dtype='int64'),
 ('user_964', 8734.0): Int64Index([143], dtype='int64'),
 ('user_964', 10554.0): Int64Index([144], dtype='int64'),
 ('user_965', 0.0): Int64Index([790, 791, 792, 793], dtype='int64'),
 ('user_965', 100.0): Int64Index([794], dtype='int64'),
 ('user_965', 300.0): Int64Index([795], dtype='int64'),
 ('user_965', 800.0): Int64Index([796], dtype='int64'),
 ('user_966',
  0.0): Int64Index([116, 117, 118, 119, 120, 121, 122, 123, 124], dtype='int64'),
 ('user_966', 200.0): Int64Index([125, 126, 127], dtype='int64'),
 ('user_966', 500.0): Int64Index([128], dtype='int64'),
 ('user_966', 700.0): Int64Index([129], dtype='int64'),
 ('user_966', 900.0): Int64Index([130], dtype='int64'),
 ('user_966', 10254.0): Int64Index([131, 132], dtype='int64'),
 ('user_966', 10654.0): Int64Index([133], dtype='int64'),
 ('user_967',
  0.0): Int64Index([707, 708, 709, 710, 711, 712, 713, 714, 715], dtype='int64'),
 ('user_967', 200.0): Int64Index([716], dtype='int64'),
 ('user_967', 10154.0): Int64Index([717], dtype='int64'),
 ('user_968', 0.0): Int64Index([153, 154, 155, 156], dtype='int64'),
 ('user_968', 200.0): Int64Index([157], dtype='int64'),
 ('user_968', 300.0): Int64Index([158], dtype='int64'),
 ('user_968', 500.0): Int64Index([159], dtype='int64'),
 ('user_968', 800.0): Int64Index([160], dtype='int64'),
 ('user_969', 0.0): Int64Index([504, 506, 507, 508, 509], dtype='int64'),
 ('user_969', 100.0): Int64Index([505], dtype='int64'),
 ('user_969', 200.0): Int64Index([510], dtype='int64'),
 ('user_969', 800.0): Int64Index([511], dtype='int64'),
 ('user_970', 0.0): Int64Index([850, 851], dtype='int64'),
 ('user_970', 400.0): Int64Index([852], dtype='int64'),
 ('user_970', 500.0): Int64Index([853], dtype='int64'),
 ('user_970', 700.0): Int64Index([854], dtype='int64'),
 ('user_970', 9754.0): Int64Index([855], dtype='int64'),
 ('user_970', 10054.0): Int64Index([856], dtype='int64'),
 ('user_970', 10354.0): Int64Index([857], dtype='int64'),
 ('user_971',
  0.0): Int64Index([555, 556, 557, 558, 559, 560, 561], dtype='int64'),
 ('user_971', 500.0): Int64Index([562], dtype='int64'),
 ('user_971', 900.0): Int64Index([563], dtype='int64'),
 ('user_971', 1000.0): Int64Index([564], dtype='int64'),
 ('user_971', 10454.0): Int64Index([565], dtype='int64'),
 ('user_971', 10654.0): Int64Index([566], dtype='int64'),
 ('user_972', 0.0): Int64Index([100, 101, 103, 104, 105], dtype='int64'),
 ('user_972', 100.0): Int64Index([102], dtype='int64'),
 ('user_972', 300.0): Int64Index([106], dtype='int64'),
 ('user_972', 400.0): Int64Index([107, 108], dtype='int64'),
 ('user_972', 500.0): Int64Index([109, 111], dtype='int64'),
 ('user_972', 700.0): Int64Index([110], dtype='int64'),
 ('user_972', 900.0): Int64Index([112], dtype='int64'),
 ('user_972', 1000.0): Int64Index([113, 114], dtype='int64'),
 ('user_972', 10154.0): Int64Index([115], dtype='int64'),
 ('user_973', 0.0): Int64Index([8, 9, 10, 11, 12, 13, 14, 15], dtype='int64'),
 ('user_973', 100.0): Int64Index([16], dtype='int64'),
 ('user_973', 200.0): Int64Index([17], dtype='int64'),
 ('user_973', 400.0): Int64Index([18, 19], dtype='int64'),
 ('user_973', 1000.0): Int64Index([20], dtype='int64'),
 ('user_973', 9754.0): Int64Index([21], dtype='int64'),
 ('user_973', 10254.0): Int64Index([22], dtype='int64'),
 ('user_974', 0.0): Int64Index([161, 162, 163, 164], dtype='int64'),
 ('user_974', 200.0): Int64Index([165], dtype='int64'),
 ('user_974', 400.0): Int64Index([166], dtype='int64'),
 ('user_974', 500.0): Int64Index([167], dtype='int64'),
 ('user_974', 700.0): Int64Index([168], dtype='int64'),
 ('user_975', 0.0): Int64Index([936, 937, 938], dtype='int64'),
 ('user_975', 100.0): Int64Index([939], dtype='int64'),
 ('user_975', 700.0): Int64Index([940], dtype='int64'),
 ('user_975', 1000.0): Int64Index([941], dtype='int64'),
 ('user_976',
  0.0): Int64Index([214, 215, 216, 217, 218, 219, 220, 221], dtype='int64'),
 ('user_976', 100.0): Int64Index([222], dtype='int64'),
 ('user_976', 300.0): Int64Index([223], dtype='int64'),
 ('user_976', 400.0): Int64Index([224], dtype='int64'),
 ('user_977',
  0.0): Int64Index([567, 568, 569, 570, 571, 572, 573], dtype='int64'),
 ('user_977', 200.0): Int64Index([574], dtype='int64'),
 ('user_977', 500.0): Int64Index([575], dtype='int64'),
 ('user_977', 10354.0): Int64Index([576], dtype='int64'),
 ('user_978', 0.0): Int64Index([145, 146, 147, 148, 149, 150], dtype='int64'),
 ('user_978', 600.0): Int64Index([151], dtype='int64'),
 ('user_978', 1000.0): Int64Index([152], dtype='int64'),
 ('user_979', 0.0): Int64Index([577, 578, 579], dtype='int64'),
 ('user_979', 100.0): Int64Index([580], dtype='int64'),
 ('user_979', 300.0): Int64Index([581], dtype='int64'),
 ('user_979', 900.0): Int64Index([582], dtype='int64'),
 ('user_979', 10654.0): Int64Index([583], dtype='int64'),
 ('user_980', 0.0): Int64Index([70, 71, 72, 73, 74, 75], dtype='int64'),
 ('user_980', 500.0): Int64Index([76], dtype='int64'),
 ('user_980', 800.0): Int64Index([77], dtype='int64'),
 ('user_980', 900.0): Int64Index([78], dtype='int64'),
 ('user_981', 0.0): Int64Index([752, 753, 754, 755, 756, 757], dtype='int64'),
 ('user_981', 500.0): Int64Index([758], dtype='int64'),
 ('user_981', 600.0): Int64Index([759], dtype='int64'),
 ('user_981', 900.0): Int64Index([760], dtype='int64'),
 ('user_981', 1000.0): Int64Index([761], dtype='int64'),
 ('user_982', 0.0): Int64Index([466, 467, 469, 470], dtype='int64'),
 ('user_982', 100.0): Int64Index([468], dtype='int64'),
 ('user_982', 500.0): Int64Index([471], dtype='int64'),
 ('user_982', 800.0): Int64Index([472, 473], dtype='int64'),
 ('user_982', 900.0): Int64Index([474], dtype='int64'),
 ('user_982', 9954.0): Int64Index([475], dtype='int64'),
 ('user_982', 10154.0): Int64Index([476], dtype='int64'),
 ('user_983',
  0.0): Int64Index([902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913], dtype='int64'),
 ('user_983', 100.0): Int64Index([914], dtype='int64'),
 ('user_983', 400.0): Int64Index([915, 916], dtype='int64'),
 ('user_984',
  0.0): Int64Index([663, 664, 665, 666, 667, 668, 669, 670], dtype='int64'),
 ('user_984', 200.0): Int64Index([671, 672], dtype='int64'),
 ('user_984', 500.0): Int64Index([673], dtype='int64'),
 ('user_984', 900.0): Int64Index([674], dtype='int64'),
 ('user_984', 9754.0): Int64Index([675], dtype='int64'),
 ('user_985',
  0.0): Int64Index([275, 276, 277, 278, 279, 280, 281, 282], dtype='int64'),
 ('user_985', 100.0): Int64Index([283], dtype='int64'),
 ('user_985', 300.0): Int64Index([284], dtype='int64'),
 ('user_985', 400.0): Int64Index([285, 286], dtype='int64'),
 ('user_985', 700.0): Int64Index([287], dtype='int64'),
 ('user_985', 10154.0): Int64Index([288], dtype='int64'),
 ('user_986',
  0.0): Int64Index([541, 542, 543, 544, 545, 546, 547, 548, 549], dtype='int64'),
 ('user_986', 200.0): Int64Index([550], dtype='int64'),
 ('user_986', 900.0): Int64Index([551], dtype='int64'),
 ('user_986', 1000.0): Int64Index([552], dtype='int64'),
 ('user_986', 10254.0): Int64Index([553], dtype='int64'),
 ('user_986', 10554.0): Int64Index([554], dtype='int64'),
 ('user_987', 0.0): Int64Index([263, 267, 269], dtype='int64'),
 ('user_987', 300.0): Int64Index([270, 271, 272], dtype='int64'),
 ('user_987', 400.0): Int64Index([273], dtype='int64'),
 ('user_987', 5000.0): Int64Index([264], dtype='int64'),
 ('user_987', 7650.0): Int64Index([265], dtype='int64'),
 ('user_987', 9754.0): Int64Index([274], dtype='int64'),
 ('user_987', 9876.0): Int64Index([266], dtype='int64'),
 ('user_987', 12548.0): Int64Index([268], dtype='int64'),
 ('user_988', 0.0): Int64Index([692, 693, 694, 695, 696], dtype='int64'),
 ('user_988', 200.0): Int64Index([697], dtype='int64'),
 ('user_988', 10554.0): Int64Index([698], dtype='int64'),
 ('user_989',
  0.0): Int64Index([621, 622, 623, 624, 625, 626, 627, 628, 629], dtype='int64'),
 ('user_989', 400.0): Int64Index([630], dtype='int64'),
 ('user_989', 600.0): Int64Index([631], dtype='int64'),
 ('user_990',
  0.0): Int64Index([180, 181, 182, 183, 184, 185, 186, 187, 188, 189], dtype='int64'),
 ('user_990', 700.0): Int64Index([190], dtype='int64'),
 ('user_990', 900.0): Int64Index([191], dtype='int64'),
 ('user_990', 1000.0): Int64Index([192], dtype='int64'),
 ('user_991', 0.0): Int64Index([643, 644, 645, 646, 647, 648], dtype='int64'),
 ('user_991', 100.0): Int64Index([649], dtype='int64'),
 ('user_991', 700.0): Int64Index([650], dtype='int64'),
 ('user_992', 0.0): Int64Index([289, 290, 291, 292, 293], dtype='int64'),
 ('user_992', 100.0): Int64Index([294], dtype='int64'),
 ('user_992', 200.0): Int64Index([295], dtype='int64'),
 ('user_992', 500.0): Int64Index([296], dtype='int64'),
 ('user_992', 600.0): Int64Index([297], dtype='int64'),
 ('user_992', 9954.0): Int64Index([298], dtype='int64'),
 ('user_993', 0.0): Int64Index([723, 724, 725, 726], dtype='int64'),
 ('user_993', 300.0): Int64Index([727], dtype='int64'),
 ('user_993', 600.0): Int64Index([728], dtype='int64'),
 ('user_994', 0.0): Int64Index([598, 599, 600], dtype='int64'),
 ('user_994', 300.0): Int64Index([601], dtype='int64'),
 ('user_994', 600.0): Int64Index([602], dtype='int64'),
 ('user_994', 800.0): Int64Index([603, 604], dtype='int64'),
 ('user_994', 900.0): Int64Index([605], dtype='int64'),
 ('user_995', 0.0): Int64Index([520, 521, 522, 523], dtype='int64'),
 ('user_995', 200.0): Int64Index([524], dtype='int64'),
 ('user_995', 400.0): Int64Index([525], dtype='int64'),
 ('user_995', 500.0): Int64Index([526], dtype='int64'),
 ('user_995', 800.0): Int64Index([527], dtype='int64'),
 ('user_995', 1000.0): Int64Index([528], dtype='int64'),
 ('user_995', 9954.0): Int64Index([529], dtype='int64'),
 ('user_996', 0.0): Int64Index([652, 653], dtype='int64'),
 ('user_996', 100.0): Int64Index([651, 654], dtype='int64'),
 ('user_996', 800.0): Int64Index([655], dtype='int64'),
 ('user_997', 0.0): Int64Index([353, 354, 355, 356], dtype='int64'),
 ('user_997', 200.0): Int64Index([357], dtype='int64'),
 ('user_997', 1000.0): Int64Index([358], dtype='int64'),
 ('user_998', 0.0): Int64Index([169, 170, 171], dtype='int64'),
 ('user_998', 500.0): Int64Index([172, 173, 174], dtype='int64'),
 ('user_998', 600.0): Int64Index([175], dtype='int64'),
 ('user_998', 900.0): Int64Index([176, 177], dtype='int64'),
 ('user_998', 1000.0): Int64Index([178], dtype='int64'),
 ('user_998', 10654.0): Int64Index([179], dtype='int64'),
 ('user_999', 0.0): Int64Index([458, 459, 460, 461, 462], dtype='int64'),
 ('user_999', 100.0): Int64Index([463], dtype='int64'),
 ('user_999', 700.0): Int64Index([464], dtype='int64'),
 ('user_999', 800.0): Int64Index([465], dtype='int64')}