In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
vis_data = pd.read_csv("./data/train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

train, valid = train_test_split(vis_data, test_size=0.3, shuffle=False)
result = train['payment_amount'].mean()
result

55.22498030979261

In [10]:

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("./data/train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже
display(vis_data.sample(5))

vis_data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due']]
display(vis_data.sample(5))

# train, test = train_test_split(vis_data, test_size=0.3, shuffle=False)
# result = test['payment_amount'].mean()
# result

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
38006,58851,"Buildings, Safety Engineering & Env Department","Steele, Jonathan","star mbch, newbright",18045.0,LIVERNOIS,NaN,1845.0,livernois,detroit,...,0.0,280.0,280.0,0.0,2006-02-06 00:00:00,PAID IN FULL,NaN,NaN,compliant by on-time payment,1.0
46256,68886,Detroit Police Department,"Thornton, Vaughn","alexander, lucious",19303.0,MANSFIELD,NaN,1933.0,mansfield,detroit,...,0.0,57.5,0.0,57.5,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
47514,70376,"Buildings, Safety Engineering & Env Department","Sharpe, Anthony","INVESTMENT, ACORN",14641.0,HARTWELL,NaN,213.0,PO BOX,SOUTHFIELD,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
143478,172587,"Buildings, Safety Engineering & Env Department","Steele, Jonathan","FERRILL, FRANK M",15401.0,LINDSAY,NaN,15415.0,LINDSAY,DETROIT,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
74821,99041,"Buildings, Safety Engineering & Env Department","Gailes, Orbie J","CHAMBERS, NAOMI",14803.0,MARK TWAIN,NaN,1483.0,MARK TWAIN,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

        fine_amount  state_fee  late_fee  discount_amount  balance_due
208614        250.0       10.0      25.0              0.0        305.0
99438         250.0       10.0      25.0              0.0        305.0
112922       1000.0       10.0     100.0              0.0       1130.0
148755         50.0       10.0       5.0              0.0         85.0
144779        250.0        0.0       0.0              0.0          0.0

In [15]:
from sklearn.metrics import accuracy_score
import numpy as np

y_pred = np.arange(101)
y_true = np.arange(101)

y_true[4] = 3

print(y_pred)
print(y_true)

accuracy_score(y_true, y_pred)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]
[  0   1   2   3   3   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

0.9900990099009901

In [21]:
(2 * .75 * .6) / (.75 + .6)

0.6666666666666665

In [23]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
import numpy as np

y_true = [0, 0, 1, 1, 1, 1, 0, 1]
y_pred = [0, 1, 0, 0, 1, 1, 0, 1]
f1_score(y_true, y_pred)

y_true = [0, 0, 1, 1, 1, 1, 0, 1]
y_pred = [0, 1, 0, 0, 1, 1, 0, 1]
f1_score(y_true, y_pred)

y_true = [0, 0, 1, 0, 0, 1, 0]
y_pred = [1, 1, 1, 0, 1, 1, 0]

precision_score(y_true=y_true, y_pred=y_pred)
recall_score(y_true=y_true, y_pred=y_pred)

1.0